$primary-blue: #29b6f6;
$white: #ffffff;


/* Button */
$primary-button: #03a9f4;



/* Text - Text Link */

$primary-text: #787878;
$primary-link: #1DA1F2;

//========== Custom style =========== //
.container-fluid {
    max-width: 1200px;
}